
input {
  font-size: 30px;
}
.App {
  border: 3px solid black;
  width: 1000px;
  text-align: center;
  margin:auto;
  margin-top: 100px;
  border-radius: 20px;
}

.componentA {
  border: 3px solid black;
  width: 800 px;
  text-align: center;
  margin: 50px;
  border-radius: 20px;
}

.componentB {
  border: 3px solid black;
  width: 700 px;
  text-align: center;
  margin: 50px;
  margin-top: 0px;
  border-radius: 20px;
}

.componentC {
  border: 3px solid black;
  width: 600 px;
  text-align: center;
  margin: 50px;
  margin-top: 0px;
  border-radius: 20px;
}
